.button {
  background: linear-gradient(
    0deg,
    rgba(0, 175, 204, 1) 30%,
    rgba(154, 255, 140, 1) 70%,
    rgba(37, 38, 41, 1) 80%
  );
  border: none;
  color: var(--color-granite);
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.button:hover {
  background-color: var(--color-nemo);
}
